<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="configuration configuration.xsd"
	xsi:noNamespaceSchemaLocation="configuration">
	<!-- TODO -->
	<general>
		<!-- TODO -->
		<rates>
			<!-- TODO -->
			<experience>1.0</experience>
			<!-- TODO -->
			<sp>1.0</sp>
		</rates>
	</general>

	<!-- Services configuration section -->
	<services>
		<!-- Parameters in this section are used by DatabaseService. If you are 
			not sure on the usage of any parameter, read the "Configuration" section 
			in wiki article about DatabaseService. -->
		<database>
			<orientdb>
				<url>local:data/database</url>
				<username>admin</username>
				<password>admin</password>
			</orientdb>
			<jdbc>
				<!-- Defines the connection URL used by JDBC to connect to the database. -->
				<url>jdbc:mysql://localhost/l2jserver2</url>

				<!-- The engine used to connect to the database. -->
				<engine>com.l2jserver.service.database.sql.MySQLDatabaseEngine
				</engine>

				<!-- Whether or not the service should try to update and create missing 
					tables at startup. This should be disabled after the first server start as 
					it could cause data corruption. -->
				<updateSchema>true</updateSchema>

				<!-- The username used to login into the database. NOTE: Try not use 
					"root" in production servers for security reasons. -->
				<username>l2j</username>

				<!-- The password used to login into the database. -->
				<password>changeme</password>
			</jdbc>

			<connections>
				<!-- The maximum number of active connections -->
				<active-maximum>20</active-maximum>
				<!-- The maximum number of idle connections -->
				<idle-maximum>20</idle-maximum>
				<!-- The minimum number of idle connections -->
				<idle-minimum>5</idle-minimum>
			</connections>
		</database>

		<!-- Parameters in this section are used by NetworkService. If you are 
			not sure on the usage of any parameter, read the "Configuration" section 
			in wiki article about NetworkService. -->
		<network>
			<!-- The address and port in which the server will listen to -->
			<listen>0.0.0.0:7777</listen>
		</network>

		<!-- Parameters in this section are used by VFSService. If you are not 
			sure on the usage of any parameter, read the "Configuration" section in wiki 
			article about VFSService. -->
		<vfs>
			<root></root>
		</vfs>

		<!-- Parameters in this section are used by VFSService. If you are not 
			sure on the usage of any parameter, read the "Configuration" section in wiki 
			article about VFSService. -->
		<template>
			<!-- The directory in which templates are stored -->
			<directory>data/template</directory>
		</template>
	</services>
	<!-- /Services configuration section -->
</configuration>